@page
@model aspnetcorerazorapp.Pages.Customer.CreateModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<html>
    <body>
        <p>
            Enter your name
        </p>
        <div asp-validation-summary="All">

        </div>
        <form method="POST">
                <div>
                    <input asp-for="Customer.Name" />
                </div>
                <button type="submit">Submit</button>
        </form>
    </body>
</html>